apiVersion: 1

providers:
  - name: Database
    folder: database
    type: file
    options:
      path: /etc/grafana/provisioning/dashboards/database

  - name: Container
    folder: container
    type: file
    options:
      path: /etc/grafana/provisioning/dashboards/container

  - name: Cache
    folder: cache
    type: file
    options:
      path: /etc/grafana/provisioning/dashboards/cache

  - name: Server
    folder: server
    type: file
    options:
      path: /etc/grafana/provisioning/dashboards/server
