global:
  scrape_interval: 15s
scrape_configs:
  - job_name: prometheus
    static_configs:
      - targets: ['localhost:9090']

  - job_name: cadvisor-local
    static_configs:
      - targets: ['10.0.0.2:8080']
    relabel_configs:
      - source_labels: [__address__]
        target_label: instance
        replacement: 'grafana'

  - job_name: node_exporter-local
    static_configs:
      - targets: ['10.0.0.2:9100']
    relabel_configs:
      - source_labels: [__address__]
        target_label: instance
        replacement: grafana

  - job_name: fail2ban_exporter-local
    static_configs:
      - targets: ['10.0.0.2:9191']
    relabel_configs:
      - source_labels: [__address__]
        target_label: instance
        replacement: grafana

  - job_name: nginx_prometheus_exporter
    static_configs:
      - targets: ['web1:9113', 'web2:9113', 'loadbalancer:9113']

  - job_name: redis-exporter
    static_configs:
    - targets: ['cache:9121']

  - job_name: node_exporter
    static_configs:
      - targets: ['web1:9100', 'web2:9100', 'worker1:9100', 'worker2:9100', 'cache:9100', 'loadbalancer:9100', 'elasticsearch:9100', 'database:9100']

  - job_name: fail2ban_exporter 
    static_configs:
      - targets: ['web1:9191', 'web2:9191', 'worker1:9191', 'worker2:9191', 'cache:9191', 'loadbalancer:9191', 'elasticsearch:9191', 'database:9100']

  - job_name: cadvisor
    static_configs:
      - targets: ['elasticsearch:8080']

  - job_name: mysql
    metrics_path: /probe
    static_configs:
      - targets: ['database:9104']
    relabel_configs:
      - target_label: __param_target
        replacement: localhost:3306
