entryPoints:
  web:
    address: ":{{ traefik_web_port }}"
  websecure:
    address: ":{{ traefik_websecure_port }}"
  traefik:
    address: ":{{ traefik_dashboard_port }}"
  metrics:
    address: ":{{ traefik_metrics_port }}"

providers:
  file:
    directory: "{{ traefik_dynamic_dir }}"
    watch: true

api:
  dashboard: true
  insecure: {{ traefik_dashboard_insecure | lower }}

log:
  level: INFO

accessLog: {}

certificatesResolvers:
  letsencrypt:
    acme:
      email: "{{ traefik_acme_email }}"
      storage: /etc/traefik/acme.json
      httpChallenge:
        entryPoint: web

metrics:
  prometheus:
    entryPoint: metrics
    addEntryPointsLabels: true
    addServicesLabels: true
    addRoutersLabels: true
